<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>
  <tr></tr>

<% @jobs.each do |job| %>
  <tr>
  	<td><%= job.brigades.count %> x 
    <%= link_to job.title, job_path(job) %></td>
    <td><%= link_to "Destroy", job, method: :delete, data: {confirm: "This deletes brigades having just the job! Continue?"} %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Brigades list', brigades_path %>
